name: Generate ascii artwork
on: push
jobs:
  Deploy: 
    strategy:
      matrix:
        os: [ubuntu:latest, ubuntu:20.04, windows:latest]
        images: [helloworld, alpine]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Echo docker info
      run: docker info

    - name: Run image on ${{ matrix.os }}
      run: docker run ${{ matrix.images }}