name: Generate ascii artwork

on: push

jobs:
  Build: 
    runs-on: ubuntu-latest
    steps: 
    - name: Install cowsay
      run: sudo apt-get install cowsay -y

    - name: Execute cowsay cmd
      run: cowsay -f dragon "Run for cover, I am a DRAGON.....RAWR" >> dragon.txt

    - name: sleep for 30 seconds
      run: sleep 30

  Test:
    runs-on: ubuntu-latest
    steps:
    - name: sleep for 10 seconds
      run: sleep 10 

    - name: Search for dragon file
      run: grep -i "dragon" dragon.txt

  Deploy: 
    runs-on: ubuntu-latest
    steps:
    - name: List & Read file
      run: |
        ls - lrth
        cat dragon.txt